:root {

    /* Header, selected conversation marker, primary buttons */
    --primary-color: #D62828;

    /* Main background color */
    --background-color: #EAEAEA;

    /* Conversation background color */
    --conversation-background-color: #FFFFFF;

    /* Borders color (conversations...) */
    --border-color: #e0e0e0;

    /* Compose button background color */
    --compose-button-background-color: #003049;
}
