:root {
/* Core Theme Colors */
    --theme1: var(--primary-color);
    --theme2: var(--background-color);
    --theme3: var(--conversation-background-color);
    --theme4: var(--border-color);
    --theme5: var(--primary-color);
    --theme6: var(--primary-color);
    --theme7: var(--primary-color);

/* Alert & Status Colors */
    --red: #d23f31;
    --red-light: #de5245;
    --yellow: #fdd835;
    --yellow-light: #fde475;
    --green: #0f9d58;
    --green-light: #89bc70;
    --blue: #bce8f1;
    --blue-light: #93b9cc;

/* Shades of Grey */
    --white: #FFF;
    --light1: #e5e5e5;
    --light2: #fafafa;
    --light3: #F5F5F5;
    --light4: #f4f4f4;
    --medium1: #CCC;
    --medium2: #8c8c8c;
    --dark0: #333;
    --dark1: #444;
    --dark2: #616161;
    --dark3: #666;
    --dark4: #222;
    --black: #000;
}
