body section.sidebar ul.menu li a, body section.sidebar ul.menu li:hover a {
    color: var(--dark2) !important;
}
body section.sidebar ul.menu li a i.fa, body section.sidebar ul.menu li:hover a i.fa {
    color: var(--dark2) !important;
}
body section.sidebar div.labels ul li a, body section.sidebar div.labels ul li a:hover {
    color: var(--dark2) !important;
}
#pm_toolbar-desktop, body #conversation-list-rows , body #conversation-list-columns, body #pm_view, element-view {
    background-color: var(--theme2) !important;
}
#pm_thread, conversation {
    background-color: var(--theme2) !important;
}
#conversation-view .message .frame {
    background-color: var(--white) !important;
}
header#pm_header-desktop a.logo {
    background-color: transparent !important;
}
form.searchForm fieldset {
    background-color: rgba(255,255,255,.15) !important;
}
form.searchForm fieldset input.query {
    background-color: transparent !important;
}
body section.sidebar a.compose, body section.sidebar a.compose:hover {
    background-color: var(--red);
    border-width: 0 !important;
    box-shadow: none;
    margin-top: 20px;
}
body section.sidebar a.compose:hover {
    background-color: var(--red-light);
}
.conversation {
    box-shadow: inset 0 -1px 0 var(--theme4);
}
#conversation-view header {
    margin: 10px 10px 0;
    border: 1px solid var(--theme4);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    background-color: var(--white);
}
#conversation-view header h1 {
    font-size: 1.2em;
    font-weight: 300;
    padding: 5px;
}
#conversation-view header h1 .starButton {
    top: 7px;
}
#pm_composer .composer header {
    background: var(--dark2) !important;
}
#pm_composer .composer header .actions .pm_button:hover {
    background: var(--dark3) !important;
}
.tooltip.top .tooltip-arrow, .tooltip.top-left .tooltip-arrow, .tooltip.top-right .tooltip-arrow {
    border-top-color: var(--dark3) !important;
}
.tooltip-inner {
    background-color: var(--dark3) !important;
}
.tooltip.right .tooltip-arrow {
    border-right-color: var(--dark3) !important;
}
.tooltip.left .tooltip-arrow {
    border-left-color: var(--dark3) !important;
}
.tooltip.bottom .tooltip-arrow, .tooltip.bottom-left .tooltip-arrow, .tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: var(--dark3) !important;
}
header#pm_header-desktop {
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}
body.mobileMode #pm_sidebar section.sidebar ul.menu li button {
    color: var(--dark2) !important;
}
body.mobileMode #pm_sidebar section.sidebar .userDisplay em, body.mobileMode #pm_sidebar section.sidebar .userDisplay strong {
    color: var(--dark2) !important;
}
body.mobileMode #pm_sidebar section.sidebar .pm_button.round {
    background: var(--red);
    border-color: transparent;
}
